<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... Altri tag meta e link ... -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="grafico-temperatura"></div>

    <script>
        var sensor = "{{ sensor }}";
        var temperatureData = {{ temperatureData|safe }};
        var orariData = {{ orariData|safe }};

        var data = [{
            x: orariData,
            y: temperatureData,
            type: 'scatter',
            mode: 'lines+markers',
            name: 'Temperatura'
        }];

        var layout = {
            title: 'Andamento della Temperatura - ' + sensor,
            xaxis: { title: 'Orario' },
            yaxis: { title: 'Temperatura (°C)' }
        };

        Plotly.newPlot('grafico-temperatura', data, layout);
    </script>
</body>
</html>




